= render "layouts/header"
= render "layouts/breadcrumb"
.main-details
  .main-left
    %h1 マッシュショート
    .details-image
      = image_tag "7587792928_IMG_3808.JPG", class:'image1'
      = image_tag "IMG_1606.jpg",class:'image2'
    .hair-description
      %span 少し長めの前髪、サイドとつながるマッシュラインがオシャレなショート。
      %span 襟足は短めにきゅっとひきしめ、
      %span サイドはギリギリ耳にかけれるようにします。
      %span 表面は頭の丸みがキレイにでるようにカットしています。
      %span ウェットな質感でオシャレな雰囲気に。
    %h2.hs ヘアスタイル情報
    %h2.border スタイリング方法
    %p 襟足は浮かないようにヘアオイルをしっかりつけ、表面と前髪は毛先に少しだけつけます。
    %p つけ過ぎ注意！
    %h2.border オーダー方法
    %h3 カット
    %p 襟足はギリギリまで短くカットします。
    %p サイドは、耳にかけれるギリギリの長さに設定。サイドとつながるようにマッシュにカット。
    %p 頭の形が良く見えるように、丸みをつけるレイヤーを入れます。
    %h3 カラー
    %p 10レベルのラベンダーアッシュでオールカラー。
    %p 色持ちと柔らかさを重視してます。
    %table.data{style:"border-color:#ddd;"}
      %tbody
        %tr
          %td{style:"width:432px;"}メニュー
          %td{style:"width:432px;"}カット、カラー
        %tr{style: "border: 1px;"}
          %td{style:"width:432px;"}料金
          %td{style:"width:432px;"}￥14,000
        %tr
          %td{style: "width: 432px;"} 時間
          %td{style: "width: 450px;"} 90分
        %tr
          %td{style: "width: 432px;"} スタイリング剤
          %td{style: "width: 450px;"} N. ポリッシュオイル
    
    %h2.sl スタイリスト情報
    %p.stl-info
      スタイリスト：木戸浦 司
      %br/
      サロン：cotton
      %br/
      場所：埼玉県さいたま市浦和区仲町２－１６－４ 
      %br/
      電話番号：048-832-7782
      %br/
      営業時間：月曜～木曜 10時～19時　金曜 10時～20時 土曜 9時～19時　日祝 9時～１8時
      %br/
      定休日：年中無休12/31から1/3(年末年始のみ休み) 
= render "layouts/footer" 
